.closeButton{
    background: var(--black-color);
    color: var(--white);
    font-size: 35px;
    border-radius: 10px;
    width: 70px;
    height: 70px;
    margin-left: 10px;
    cursor: pointer;
}